* {
  padding: 0px !important;
}

.btn {
  border-radius: 0px !important;
  height: 100px !important;
  font-size: 25px !important;
  column-gap: 0cm !important;
  width: 100% !important;
}

.input-1 {
  height: 50px !important;
  font-size: 40px !important;
  color: gray !important;
}

.input-1:focus {
  box-shadow: none !important;
  border: none !important;
}
